
/* googel fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* start the global varible*/
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding:60px;
    --secton-background:#f6f6f6;
}
*{
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/*small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    
}


/*Medium*/

@media (min-width: 992pxx) {
    .container {
        width: 970px;
    }
    
}

/*Large*/

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    
}

.container {
    padding: 0 15px;
    margin: 0 auto;

}

/*end the global value*/
/*special content*/

.special-heading{
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    color: #797979;
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 767) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading+p {
        margin-top: -20px;
    }
}

/*start the header*/

header {
    padding:15px;

}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
header .container .logo {
    width: 30px;
}
header .links {
  position: relative;
}

header .links:hover .icon span:nth-child(2){
    width: 100%;
}
header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .links .icon span {
    background-color: #555;
    margin-bottom: 5px;
    height: 2px;
}
header .links .icon span:first-child{
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 50%;
    transition: 0.3s;
}

header .links .icon span:last-child {
    width: 100%;
}

header .links ul{
    position: absolute;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    background-color: #f6f6f6;
    display: none;
    z-index: 1;
}



header .links ul::before {
    content: '';
    border-width: 10px;
    position: absolute;
    top: -20px;
    right: 5px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;

}

header .links:hover ul {
    display: block;
}

header .links ul a {
    text-decoration: none;
    color: #555;
    display: flex;
    padding: 15px;
    transition: 0.3s;
}

header .links ul a:hover {
    padding-left:20px ;
}

header .links ul :not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/*Endding header*/

/*Starting landing*/

.landing {
    background-image: url(../images/focused_196865906-stock-photo-black-white-image-snow-covered.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/*endding landing*/

/*Starte features*/

.features {
    padding: var(--section-padding);
    background-color: var(--secton-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    font-size: 3em;
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/*Endding features*/

/*start services*/

.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px ;
}

.services .service-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .service-content .srv {
        flex-direction: column;
        text-align: center;
    } 
}

.services .service-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .service-content .srv .text h3 {
    margin: 0 0 20px ;
}

.services .service-content .srv .text {
    flex: 1;
}

.services .service-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .service-content .image {
   text-align: center;
   position:relative;
}

.services .service-content .image img {
    width: 260px;
}

.services .service-content .image-column::before {
    content: '';
    position: absolute;
    width: 100px;
    height:calc(100% + 100px);
    background-color: var(--secondary-color);
    top: -50px;
    right: 0;
    z-index: -1;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;

    }
}

/*end servecis*/

/*start portfolio*/
.portfolio {
    padding: var(--section-padding) 0;
    background-color: var(--secton-background);
}
.portoflio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px ;
}

.card {
   background-color: white;
}

.card img {
    max-width: 100%;
}

.card .card-info {
    padding: 20px;
}

.card .card-info h3{
    margin: 0;
}

.card .card-info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/*end protfolio*/


/*start about*/

.about {
    padding-top: var(--section-padding) ;
    padding-bottom: calc(var(--section-padding)+60px);
   

}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about-content .image::before {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    top: -40px;
    left: -20px;
    z-index: -1;

}

.about .about-content .image::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px;


}

.about .about-content .image img{
    width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 60px;

}

.about .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align:center;
    }
    .about .about-content .image::before, 
    .about .about-content .image::after {
        display: none;
    } 

    .about .about-content .image {
        margin: 0 auto 80px;

    }
}

/*end the about*/

/*start contuct*/

.contact {
    padding: var(--section-padding) 0;
    background-color: var(--secton-background);  
}

.contact .info {
    padding: var(--section-padding) 0;
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    text-decoration: none;
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
} 

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

/*end contact*/

/*start footer*/

.footer {
    background-color: var(--secondary-color);
    padding: 30px 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.footer span {
    color: var(--main-color);
}






